<div class="tree well" style="padding-left: 3px; padding-right: 5px;padding-top: 3px">
    <h6>Оборудование транспортной сети</h6>
    <ul style="margin-left: 0px">
        <% for(var r in device.device){ %>
        <li id="<%= device.device[r].name %>">
            <span><i class="icon-plus-sign"></i></span> <a class="region" href="#"
                                                           id="<%= device.device[r].name %>"><%= device.device[r].name %></a>

            <ul class="area">
                <% for(var a in device.device[r].area){ %>
                <li>
                    <span><i class="icon-plus-sign"></i></span>
                    <a href="" class="area"><%= device.device[r].area[a].n %></a>
                    <% if('ok' == 'ok'){ %>
                    <span class="badge"></span>
                    <% } %>

                    <% for(var l in device.device[r].area[a].l){ %>
                    <ul class="location-tree">
                        <li>
                            <span><i class="icon-plus-sign"></i></span>
                            <a href="#" class="location"><%= device.device[r].area[a].l[l].n %></a>
                            <% if('ok' == 'ok'){ %>
                            <span class="badge badge-success"></span>
                            <% } %>

                            <% for(var d in device.device[r].area[a].l[l].h){ %>
                            <ul class="device-tree">
                                <li>
                                    <a href="#" class="device"><%= device.device[r].area[a].l[l].h[d].n %></a>
                                    <% if("ok" == 'ok'){ %>
                                    <span class="badge badge-success"><%= device.device[r].area[a].l[l].h[d].c %></span>
                                    <% } %>
                                    <div class="info">

                                        <p class="ip">IP&nbsp;<b><%= device.device[r].area[a].l[l].h[d].ip %></b></p>

                                        <p class="rtt"></p>

                                        <p class="cpubusy"></p>

                                    </div>
                                </li>
                            </ul>
                            <% } %>
                        </li>
                    </ul>
                    <% } %>
                </li>
                <% } %>
            </ul>

        </li>
        <% } %>
    </ul>
</div>
