<% layout('/layout/base.ejs') %>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <%- partial('partials/newTree') %>

        </div>
        <div class="span7">

            <%- partial('partials/map') %>

            <label class="checkbox">
                <input type="checkbox" id="chanel"> Каналы
            </label>

            <h4> Важные события </h4>

            <%- partial('partials/centralTable') %>

            <h4> Инциденты </h4>

            <%- partial('partials/bottomTable') %>

        </div>
        <div class="span2">

            <%- partial('partials/rightTreeTop') %>

            <%- partial('partials/rightTreeTop2') %>

            <%- partial('partials/rightTreeTop3') %>

        </div>
    </div>
</div>

<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="/js/stp.js"></script>

