<% layout('/layout/base.ejs') %>

<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
        <div class="span3">

            <%- partial('partials/newTree') %>
            <%- partial('partials/leftTreeTop2') %>

        </div>
        <div class="span7">

            <%- partial('partials/map') %>

            <!--            <h5 style="text-align: left;"> Последние события </h5>

            <%- partial('partials/centralTable') %>-->

            <h5 style="text-align: left"> Последние инциденты </h5>

            <%- partial('partials/bottomTable') %>

        </div>
        <div class="span2">

            <%- partial('partials/rightTreeTop') %>

            <%- partial('partials/rightTreeTop2') %>

            <%- partial('partials/rightTreeTop3') %>

        </div>
    </div>
</div>

<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="/js/portal.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        //save templates to variable
        window.templates = <%-JSON.stringify(templates)%>;
    });
</script>

