<% layout('/layout/base.ejs') %>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <%- partial('partials/leftTree') %>

        </div>
        <div class="span7">

            <%- partial('partials/map') %>

            <h4> Важные события </h4>

            <%- partial('partials/centralTable') %>

            <h4> Инциденты </h4>

            <%- partial('partials/bottomTable') %>

        </div>
        <div class="span2">

            <%- partial('partials/rightTreeTop') %>

            <%- partial('partials/rightTreeTop2') %>

            <%- partial('partials/rightTreeTop3') %>

        </div>
    </div>
</div>



